*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
# IDEA/Android Studio Ignore exceptions
!/.idea/vcs.xml
!/.idea/fileTemplates/
!/.idea/inspectionProfiles/
!/.idea/scopes/
!/.idea/codeStyleSettings.xml
!/.idea/encodings.xml
!/.idea/copyright/
!/.idea/compiler.xml
testfingerprint/src/test/java/com/praszapps/testfingerprint/ExampleUnitTest.kt
testfingerprint/src/main/res/values/styles.xml
testfingerprint/src/main/res/values/strings.xml
testfingerprint/src/main/res/values/colors.xml
testfingerprint/src/main/res/mipmap-xhdpi/ic_launcher.png
testfingerprint/src/main/res/mipmap-mdpi/ic_launcher_round.png
testfingerprint/src/main/res/mipmap-mdpi/ic_launcher.png
testfingerprint/src/main/res/mipmap-hdpi/ic_launcher_round.png
testfingerprint/src/main/res/mipmap-hdpi/ic_launcher.png
.idea/shelf/LiveData.xml
.idea/kotlinc.xml
.idea/caches/build_file_checksums.ser
testfingerprint/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
testfingerprint/src/main/res/mipmap-xxxhdpi/ic_launcher.png
testfingerprint/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
testfingerprint/src/main/res/mipmap-xxhdpi/ic_launcher.png
testfingerprint/src/main/res/mipmap-xhdpi/ic_launcher_round.png
testfingerprint/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
testfingerprint/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
testfingerprint/src/main/res/layout/activity_main.xml
testfingerprint/src/main/res/drawable/ic_launcher_background.xml
testfingerprint/src/main/res/drawable-v24/ic_launcher_foreground.xml
testfingerprint/src/main/java/com/praszapps/testfingerprint/MainActivity.kt
testfingerprint/src/main/AndroidManifest.xml
testfingerprint/src/androidTest/java/com/praszapps/testfingerprint/ExampleInstrumentedTest.kt
testfingerprint/proguard-rules.pro
testfingerprint/build.gradle
testfingerprint/.gitignore
.idea/shelf/LiveData1/shelved.patch
.idea/shelf/LiveData1.xml
.idea/shelf/LiveData/shelved.patch
.idea/gradle.xml
.idea/sonarlint/issuestore